@import "tailwindcss";

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Variable.woff2") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Variable.woff2") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-roboto: "Roboto", sans-serif;
}

body {
    margin: 0;
    background-color: #f7f9fc;
}